[submodule "frontend"]
	path = frontend
	url = git@github.com:BenjaminTietz/conduit-frontend.git
	branch = master
[submodule "backend"]
	path = backend
	url = git@github.com:BenjaminTietz/conduit-backend.git
	branch = master
